include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/reportview *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/reportview/migration *.ini *.py *.mako
